<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%- htmlWebpackPlugin.options.metadata.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>">
    <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/cf2e664fb607fff9109a1e9ec/cebbed29f7e4810f230ced145.js");</script>
	<!-- link rel="manifest" href="/manifest.json" -->
    <!-- imported CSS are concatenated and added automatically -->
  </head>
  <body aurelia-app="main">
  </body>
 <script>
  if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register('../sw.js')
      .then(function(registration) {
        console.log('registration complete')
        return registration.update();
       })
      .catch(error => console.log(error));
  }
  Map.prototype.ensure = function(key, value) {
  		if(!this.has(key)) this.set(key, value)
  		return this.get(key)
  	}
</script>
</html>
