.survey_results {
    & li {
        list-style-type: none;
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-right: 4px;
    }
    & .enemy {
        background-color: red;
        &.hightened {
            background-color: darkred;
        }
    }
    & .resource {
        background-color: green;
    }
    & .empty {
        background-color: tan;
    }
}
.legend {
    & span {
        border-width: 1px 6px;
        border-radius: 8px;
        border-style: solid;
        padding-inline: 4px;
    }
}