[beta] {
  & * {
    box-sizing: border-box;
  }
  & section {
    margin: auto;
  }
  & > .statusBox {
    position: absolute;
    height: 10vh;
    text-align: center;
    width: 100%;
    & > .facBlockStats {
      padding: 0 10vw;
    }
    & > #toaster {
      top: 0px;
      left: 0px;
      position: absolute;
      text-align: left;
      padding: 0 2vw;
      height: 10vh;
      width: max(10vh, 15vw);
      overflow-y: auto;
      & > toasted {
        display: inline-block;
        width: 24px;
        height: 24px;
        & .fas {
          font-size: 16px;
          text-align: center;
          vertical-align: middle;
        }
      }
      & .toastTicker {
        display: inline;
        border-left: 3px solid black;
        height: 20px;
        width: 4px;
        left: 1vw;
        margin-right: 3px;
        position: absolute;
      }
      & span {
        width: 100%;
        height: 100%;
      }
      & toasted > span {
        border-radius: 6px;
      }
      & .light-bg {
        background-color: rgba(97, 98, 98, 0.2);
        color: rgb(97, 98, 98);
      }
      & .warning-bg {
        background-color: rgba(255, 193, 7, 0.2);
        color: rgb(255, 193, 7);
      }
      & .danger-bg {
        background-color: rgba(220, 53, 69, 0.2);
        color: rgb(220, 53, 69);
      }
      & .primary-bg {
        background-color: rgba(40, 167, 69, 0.2);
        color: rgb(40, 167, 69);
      }
    }  
  }
  & > nav {
    position:absolute;
    top: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    & > * {
      flex: 1;
      text-align: center;
      margin: 0 4px;
      padding: 2px 4px;
      &.selected {
        border: 1px solid lightblue;
        border-radius: 8px;
      }
    }
  & > .fa-bars {
      flex-grow: 2;
    }
    &:before, &:after {
      border-top: 3px solid black;
      content: '';
      display: table-cell;
      position: relative;
      top: 0.5em;
      width: 40%;
    }
    &:before {
      right: 2.5%;
    }
    &:after {
      left: 2.5%;
    }
  }
  & > main {
    overflow-y: auto;
    position: absolute;
    width: calc(100%-5vw);
    margin: 0 0.5rem;
    top: calc(10vh + 1.5rem);
    bottom: calc(20vh + 5px);
    & > * {
      position: relative;
    }
    & #nav {
      left: 20vw;
      width: 60vw;
      position: relative;
    }
    & #playerHome {
      & h3 {
        text-align: center;
      }
      & #recipes {
        height: 30vh;
      }
    }
    & #machines {
      padding: 0.2rem;
      position: relative;
      height: 100%;
      & .details {
        display: block;
        height: 50%;
      }
      & .entityList {
        overflow-y: auto;
        max-height: 100px;
        min-height: 40px;
        bottom: 0;
        position: absolute;
        left: 0px;
        right:0px;
        margin: auto;
        border-radius: 8px;
        border: 2px solid black;
        & div {
          display: inline;
        }
      }
      & .cycleTime {
        position: absolute
      }
    }
    & #facBlocks {
      & .col.facBlockList {
        border: 2px solid black;
        border-radius: 8px;
        overflow-y: auto;
        &.resBlocks {
          min-height: 40px;
          max-height: 80px;
        }
        &.specBuses {

        }
        &.techBlocks {
          min-height: 40px;
          max-height: 80px;
        }
        &.busLines {
          min-height: 80px;
          max-height: 160px;
        }
        &.facBlocks {
          min-height: 120px;
          max-height: 280px;
        }
        & .blockItem {
          width: 32px;
          height: 32px;
          display: inline-block;
          margin-right: 4px;
          &.drain {
            background:radial-gradient(circle, rgba(0,0,0,0) 60%, rgba(0,128,0,0.5) 85%, rgba(255,255,255,0) 100%);
          }
          &.source {
            background:radial-gradient(circle, rgba(0,0,0,0) 60%, rgba(128,0,0,0.5) 85%, rgba(255,255,255,0) 100%);
          }
          &.drain.source {
            background: linear-gradient( 45deg, rgba(0,0,0,0) 0%, rgba(128,0,0,0.5) 7%, rgba(255,255,255,0) 20%, rgba(0,0,0,0) 80%, rgba(128,0,0,0.5) 93%, rgba(0,0,0,0) 100%),
                        linear-gradient(-45deg, rgba(0,0,0,0) 0%, rgba(0,128,0,0.5) 7%, rgba(255,255,255,0) 20%, rgba(0,0,0,0) 80%, rgba(0,0,128,0.5) 93%), rgba(0,0,0,0) 100%;
          }
          & icon-base {
            & .altImage {
              zoom: 75%;
            }
          }
        }
      }
    }
    & #viewBlocks {
      & #viewBusLine {
        & h4 {
          display: inline;
          & + icon-base {
            zoom: 75%;
            bottom: -20%;
          }
        }
      }
      & #viewFacBlock {
        & h4 {
          display: inline;
          & + icon-base {
            zoom: 75%;
            bottom: -20%;
          }
        }
        & .interItem {
          position: absolute;
          padding-left: 16px;
          & span.fa-level-up-alt {
            position: absolute;
            left: 0;
            top: 0px;
          }
          & span.fa-level-down-alt {
            position: absolute;
            left: 0px;
            bottom: 8px;
          }
        }
      }
    }
  }
  & > #inventoryList {
    border: 2px solid black;
    border-radius: 8px;
    height: 16vh;
    position: absolute;
    display: inline-block;
    bottom: 1vh;
    right: 7.5vw;
    left: 7.5vw;
    box-sizing: border-box;
    & h3 {
      font-size: 1.5rem;
      margin-bottom: 0.25rem;
    }
    & inventory {
      position: absolute;
      overflow-y: auto;
      height: calc(100% - 2rem);
    }
  }
  & > #ChameleonModal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    & #ChameleonMessage {
      text-align: center;
      vertical-align: middle;
    }
    & #ChameleonButton {
      background-color: lightgrey;
    }
    & > .center {
      position: absolute;
      top: calc(50%-50px);
      left: 30%;
    }  
  }
  & > #tutorial {
      display: none;
      &.Block {
        width: 100%;
        height: 100%;
        display: block;
        top: 0px;
        left:0px;
        background: rgba(0, 0, 0, 0.3);
        z-index: 1000;
        position: fixed;
        & #tut_text {
          display: block;
          backdrop-filter: blur(3px);
        }
        & > #tut_pos {
          width: 100%;
          height: 100px;
          font-size: 2em;
          text-align: center;
          vertical-align: middle;
          position: absolute;
          &.center {
            top: calc(50%-50px);
          }
          &.top {
            top: calc(25%-50px);
          }
          &.bottom {
            top: calc(75%-50px);
          }
        }
      }
      & span[note='off'] {
        position: fixed;
        top: 2vh;
        right: 2vw;
        font-size: 2em;
      }
  }
}
[clickxx\.delegate] {
  border: 2px solid black;
  clip-path: polygon(0 15%, 2% 2%, 15% 0, 85% 0, 98% 2%, 100% 15%, 100% 85%, 98% 98%, 85% 100%, 15% 100%, 2% 98%, 0 85%);
}
[click\.delegate]:not(button) {
  background-color: rgba(0, 0, 0, 0.05);
}

.productionLines {
  border: 2px dashed black;
  border-radius: 8;
}

.fa_icon {
  font-size: 24px;
}
.fa_icon_sm {
  font-size: 16px;
}

//Bootstrap overrides
.card {
  background-color: unset;
}