[beta] {
  & * {
    box-sizing: border-box;
  }
  & > .statusBox {
    height: 10vh;
    text-align: center;
  }
  & > nav {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    & > * {
      flex: 1;
      text-align: center;
      margin: 0 4px;
      padding: 2px 4px;
      &.selected {
        border: 1px solid lightblue;
        border-radius: 8px;
      }
    }
  & > .fa-bars {
      flex-grow: 2;
    }
    &:before, &:after {
      border-top: 3px solid black;
      content: '';
      display: table-cell;
      position: relative;
      top: 0.5em;
      width: 40%;
    }
    &:before {
      right: 2.5%;
    }
    &:after {
      left: 2.5%;
    }
  }
  & #nav {
    left: 20vw;
    width: 60vw;
    position: relative;
  }
  & #playerHome {
    & h3 {
      text-align: center;
    }
  }
  & #recipes {
    height: 30vh;
  }
}
[clickxx\.delegate] {
  border: 2px solid black;
  clip-path: polygon(0 15%, 2% 2%, 15% 0, 85% 0, 98% 2%, 100% 15%, 100% 85%, 98% 98%, 85% 100%, 15% 100%, 2% 98%, 0 85%);
}
[click\.delegate] {
  background-color: rgba(0, 0, 0, 0.05);
}

.productionLines {
  border: 2px dashed black;
  border-radius: 8;
}


#ChameleonModal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  & #ChameleonMessage {
    text-align: center;
    vertical-align: middle;
  }
  & #ChameleonButton {
    background-color: lightgrey;
  }
  & > .center {
    position: absolute;
    top: calc(50%-50px);
    left: 30%;
  }  
}

.fa_icon {
  font-size: 24px;
}
.fa_icon_sm {
  font-size: 16px;
}


//Bootstrap overrides
.card {
  background-color: unset;
}