[beta] {
  & * {
    box-sizing: border-box;
  }
  & > .statusBox {
    height: 10vh;
    text-align: center;
  }
  & > nav {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    & > * {
      flex: 1;
      text-align: center;
      margin: 0 4px;
      padding: 2px 4px;
      &.selected {
        border: 1px solid lightblue;
        border-radius: 8px;
      }
    }
  & > .fa-bars {
      flex-grow: 2;
    }
    &:before, &:after {
      border-top: 3px solid black;
      content: '';
      display: table-cell;
      position: relative;
      top: 0.5em;
      width: 40%;
    }
    &:before {
      right: 2.5%;
    }
    &:after {
      left: 2.5%;
    }
  }
  & #nav {
    left: 20vw;
    width: 60vw;
    position: relative;
  }
  & #playerHome {
    & h3 {
      text-align: center;
    }
  }
  & #recipes {
    height: 30vh;
  }
}


.productionLines {
  border: 2px dashed black;
  border-radius: 8;
}
